/* Base styling */

:root {
    --primary-color: #b8864b;
    --secondary-color: #8c4a2f;
    --background-color: #f6f2ec;
    --text-color: #16282f;
}

html {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Header styling */

header {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 3rem 1fr 4rem;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
}

header img {
    grid-area: 1 / 1 / 2 / 2;
}

header>h2 {
    font-size: 1rem;
    grid-area: 1 / 2 / 2 / 3;
}

#header-buttons {
    display: flex;
    justify-content: space-between;
    grid-area: 1 / 3 / 2 / 4;
}

#header-buttons button {
    background: none;
    border: none;
    color: var(--background-color);
}

#contrast-button {
    font-size: 2rem;
}

#ham-button {
    cursor: pointer;
}

#ham-button::before {
    content: '≡';
    font-size: 3rem;
    line-height: 3rem;
}

#ham-button.show::before {
    content: '×';
}

/* Nav styling */

nav {
    display: none;
    grid-area: 2 / 1 / 3 / 4;
}

nav.show {
    display: block;
}

nav ul {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--background-color);
    padding-bottom: 0.25rem;
}

nav a.active,
nav a:hover {
    border-bottom: 2px solid var(--primary-color);
}

/* Main styling */

main {
    min-height: 90vh;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main>h1 {
    margin: 1rem;
}

/* Home page styling */

#hero {
    position: relative;
    width: 100%;
    height: 30vh;
}

#hero-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#join-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    box-shadow: 0 0 1rem 0 black;
    font-weight: 900;
}

#info-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.home-box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-content {
    padding: 1rem;
    background-color: var(--background-color);
    flex: 1;
}

.home-box>h2 {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    padding: 0 1rem;
}

#events .box-content {
    min-height: 10rem;
}

#weather {
    display: flex;
    gap: 1rem;
}

#weather-icon {
    filter: drop-shadow(0 0 2px gray);
}

#temp {
    font-weight: 700;
}

#company-spotlights {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.spotlight-card {
    width: 100%;
    max-width: 20rem;
    min-width: 15rem;
    box-shadow: 0 0 20px 0 lightgray;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f8f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotlight-card .member-name {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.spotlight-content {
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spotlight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

/* Directory page styling */

#view-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1.5rem;
}

#view-buttons button {
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
    background: none;
    padding: 0.25rem;
    cursor: pointer;
}

#view-buttons button.active,
#view-buttons button:hover {
    background: var(--background-color);
}

#members {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.card {
    width: 100%;
    max-width: 20rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 0 20px 0 lightgray;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: #f8f8f8;
}

.card p {
    text-align: center;
}

.member-name,
.membership-level {
    font-weight: 600;
}

#members table {
    width: 100%;
    max-width: 30rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px 0 lightgray;
}

#members tr {
    display: block;
    padding: 1rem;
    height: auto;
    width: 100%;
}

#members th,
#members td {
    display: block;
    margin: 0.5rem;
}

#members tr:nth-child(odd) {
    background-color: var(--background-color);
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    font-size: 0.75rem;
    background-color: var(--background-color);
}

footer p {
    margin: 0.5rem;
}

#info-box p:first-of-type {
    font-weight: 700;
}

#social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}