@media screen and (min-width: 800px) {

    /* Header styling */

    header {
        grid-template-columns: 50px auto auto 44px;
    }

    nav {
        display: flex;
        grid-area: 1 / 3 / 2 / 4;
        justify-content: flex-end;
    }

    #header-buttons {
        grid-area: 1 / 4 / 2 / 5;
    }

    #ham-button {
        display: none;
    }

    /* Home styling */

    .home-box {
        flex: 1;
    }

    #events {
        flex: 2;
    }

    /* Directory styling */

    #members table {
        max-width: none;
    }

    #members th,
    #members td {
        display: table-cell;
        width: 20%;
    }

    /* Footer styling */

    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}