/********** HOME PAGE COMPONENTS **********/

#hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#hero img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: opacity(25%);
}

#hero h2 {
    font-size: 2rem;
}

#hero p,
.feature-card p {
    font-weight: 700;
}

.link-button {
    display: inline-block;
    background-color: var(--accent-color);
    border: 4px solid var(--accent-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: 600;
}

.link-button:hover {
    background-color: transparent;
    color: var(--text-color);
}

#hero,
#random-country,
.feature-card {
    text-align: center;
    place-items: center;
}

#random-country {
    display: grid;
    grid-template-areas:
        "name name"
        "flag infobox";
}

#random-country,
.flag,
.feature-card {
    box-shadow: var(--shadow);
}

#random-country h2 {
    grid-area: name;
    font-size: 2rem;
}

.flag {
    object-fit: cover;
}

#random-country ul {
    text-align: left;
}

.feature-card {
    margin: 0 1.5rem;
}