@media screen and (min-width: 64rem) {
    main {
        display: grid;
        grid-template-areas:
            "hero hero"
            "country features";
        grid-template-rows: auto max-content;
        grid-template-columns: 25rem auto;
        gap: 1rem;
    }

    #hero {
        grid-area: hero;
        margin-bottom: 2rem;
    }

    #hero img {
        max-height: 40vh;
    }

    #random-country {
        grid-area: country;
    }

    #features-section {
        grid-area: features;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    .feature-card {
        margin: 0;
        align-content: space-between;
    }
}