@media screen and (min-width: 64rem) {
    main {
        display: grid;
        grid-template-areas:
            "hero hero"
            "country features";
    }

    #hero {
        grid-area: hero;
        min-height: 40vh;
    }

    #random-country {
        grid-area: country;
    }

    #features-section {
        grid-area: features;
    }
}