@media screen and (min-width: 800px) {
    nav ul {
        display: flex;
        border-bottom: 2px solid black;
    }

    nav ul li {
        border: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h1 {
        grid-column: 1/4;
    }

    #about-me {
        grid-column: 1/3;
    }

    #courses {
        grid-column: 1/4;
    }

    #course-list li {
        flex: 1 30%;
    }
}